In [1]:
import pandas as pd

In [2]:
dff = pd.read_csv(r'C:/Users/Owner/Downloads/prices_col.csv')

In [3]:
dff.describe()

           prices
count  32404859.0
mean          inf
std           NaN
min           1.0
25%           4.2
50%           7.4
75%          11.3
max           inf

Okay, the inf values have been confirmed. Let's see how many they are

In [4]:
dff.value_counts().sort_index()

prices
1.0        115143
1.1        242782
1.2        256258
1.3        425691
1.4        392209
            ...
24.8          410
24.9         5781
25.0        13772
14900.0      4429
inf           698
Length: 242, dtype: int64

In [5]:
dff.dtypes

prices    float64
dtype: object

In [6]:
import numpy as np

In [7]:
dff['prices']= dff.replace([np.inf, -np.inf], dff['prices'].mean())

In [8]:
dff.value_counts().sort_index()

prices
1.0        115143
1.1        242782
1.2        256258
1.3        425691
1.4        392209
            ...
24.8          410
24.9         5781
25.0        13772
14900.0      4429
inf           698
Length: 242, dtype: int64

This didn't do anything. Let's see what the mean is.

In [9]:
dff['prices'].mean()

inf

Ufff. Can't calculate a mean because of the inf values.

In [10]:
dff['prices']= dff.replace([np.inf, -np.inf], "NaN")

In [11]:
dff.value_counts().sort_index()

prices
1.0        115143
1.1        242782
1.2        256258
1.3        425691
1.4        392209
            ...
24.8          410
24.9         5781
25.0        13772
14900.0      4429
NaN           698
Length: 242, dtype: int64

Inf has been replaced with NaN.

In [12]:
dff["prices"][[dff['prices'] == "NaN"]] = dff['prices'].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

This error shows we're trying to apply a numeric function to a string. Let's see if this is the case.

In [13]:
dff.dtypes

prices    object
dtype: object

Yes, this is the case. You may wonder why prices is string now - it's because I replaced the inf values with a string. This apparently changed the whole column's type.

In [14]:
dff['prices'] = dff['prices'].astype("float64")

In [15]:
dff['prices'].fillna(dff['prices'].mean(), inplace = True)

In [16]:
dff.value_counts(dropna = False).sort_index()

prices
1.0        115143
1.1        242782
1.2        256258
1.3        425691
1.4        392209
            ...
24.7         7283
24.8          410
24.9         5781
25.0        13772
14900.0      4429
Length: 242, dtype: int64

Problem solved. Now there are no inf values and no NaNs. You still need to impute this 14900 value with the mean though because it's clearly an outlier :) have fun!